/* ABOUT PAGE CSS */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.wrapAboutPage {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.top .headerMenu {
  padding: 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top .headerMenu p {
  font-weight: bold;
}

.top .headerMenu li {
  list-style: none;
  display: inline-block;
  margin-left: 2rem;
  margin-right: 2rem;
}

.top .headerMenu li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  font-size: 1.2em;
}

.top .headerMenu li a:hover {
  font-weight: bold;
}

.wrapAboutPage .top {
  width: 100%;
  height: 70vh;
  color: #fff;
}

.wrapAboutPage .landingAbout {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(images/P1040295.jpg);
  background-position: center;
  background-size: cover;
}

.wrapAboutPage .title {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
.wrapAboutPage .midAbout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 5% 10%;
}

.wrapAboutPage .midAbout .leftText {
  width: 45%;
  height: 100%;
  padding-left: 5%;
}

.wrapAboutPage .midAbout .leftText p {
  font-size: 1.1em;
  line-height: 1.8rem;
  font-family: "Times New Roman", Times, serif;
}

.wrapAboutPage .midAbout .rightImage {
  width: 48%;
  height: 100%;
}

.wrapAboutPage .midAbout .rightImage img {
  width: 80%;
}

.aboutFoot {
  padding-top: 5%;
  width: 100%;
  height: 50vh;
  background: #000;
  color: #fff;
}

.botFoot {
  padding-top: 5%;
  width: 100%;
  height: 50vh;
  background: #000;
  color: #fff;
}

.wrapAll {
  display: flex;
  justify-content: space-between;
}

.wrapAll .side {
  width: 33%;
  text-align: center;
}

.wrapAll .side p {
  font-size: 1.3em;
  margin-bottom: 7%;
}

.wrapAll .side p.standard {
  font-size: 1em;
}

.wrapAll .leftSide li {
  list-style: none;
  transition: 0.2s;
  margin: 1%;
}

.wrapAll .leftSide li a {
  text-decoration: none;
  color: #fff;
  width: fit-content;
}

.wrapAll .leftSide li a:hover {
  font-weight: bold;
}

.wrapAll .midSide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapAll .midSide p {
  font-size: 2em;
}

.wrapAll .rightSide ul li {
  display: inline-block;
  margin: 1%;
}

.wrapAll .rightSide ul li img:hover {
  transform: scale(1.2);
}

li a img {
  width: 1.5rem;
  filter: brightness(0) invert(1);
  transition: 0.2s;
}
